.vscode/sftp.json
pdpsrc.code-workspace
.vscode/ftp-sync.json
.vscode/settings.json
bsd/screensavers/sine
bsd/screensavers/matrix2
bsd/screensavers/sine2
bsd/screensavers/stars
bsd/screensavers/matrix
bsd/screensavers/life
bsd/socket/server
bsd/socket/client
bsd/socket/NetBSDVAX/client
**/*.o

bsd/socket/211BSD/client
bsd/socket/macOS/client
bsd/socket/arch/NetBSDVAX/client
bsd/socket/arch/211BSD/client
bsd/socket/arch/LinuxX64/client
bsd/dry/dry29
