# Native build products (never copy host executables to the PDP).
*.o
core
/29bsd/krsieve/krsieve
/MACRO11/src/macro11
/MACRO11/src/dumpobj
/MACRO11/src/obj2bin
/MACRO11/src/obj2bsd
/MACRO11/src/test.obj
/MACRO11/src/test.lst
/MACRO11/sample/ATTN-11.obj
/MACRO11/sample/ATTN-11.bin
/asmsieve/sieve
/attn/attn
/basic/basic
/bsdbasic/bsdbasic
/bsdbasic/test.out
/bugs/bug[1-7]
/dry/dry
/dry/dry29
/httpd/httpd
/menu/menu
/mqtt/mqtt
/novi/novi
/novi/test_buffer
/novi/test_terminal
/rzsz/rz
/rzsz/rb
/rzsz/rx
/rzsz/rc
/rzsz/sz
/rzsz/sb
/rzsz/sx
/rzsz/zcommand
/rzsz/zcommandi
/rzsz/undos
/rzsz/tounix
/rzsz/todos
/rzsz/unmac
/rzsz/tomac
/rzsz/tocpm
/rzsz/unparity
/rzsz/crc
/rzsz/minirb
/screensavers/stars
/screensavers/matrix
/screensavers/matrix2
/screensavers/sine
/screensavers/sine2
/screensavers/life
/screensavers/chars
/screensavers/splash
/screensavers/graphics/graphics
/sieve/sieve
/sieve/krsieve
/socket/client
/socket/server
/socket/test-layout
/socket/arch/*/client
/socket/arch/211BSD/paneldump
/socket/arch/211BSD/symboltest
/socket/arch/211BSD/memtest
/socket/arch/211BSD/endiantest
/socket/arch/211BSD/clocktest
/socket/arch/211BSD/allcounters
/socket/arch/211BSD/memdiag
/socket/arch/211BSD/udptest
/sudo/sudo
/top/top
/wget/wget
